<html lang="en" style="height: 100%;">
<body style="height: 100%;">
    <header class="flex">
        <button aria-label="Меню" class="button-reset burger">
            <span class="burger__line"></span>
            <span class="burger__line"></span>
            <span class="burger__line"></span>
        </button>
        <nav class="header__nav flex">
            <button (click)="setView('day')"
            mwlCalendarToday
            [(viewDate)]="viewDate" class="button-reset header__button">
            Сегодня
            </button>
            <button (click)="setView('week')" class="button-reset header__button">Неделя</button>
            <button (click)="setView('month')" class="button-reset header__button">Месяц</button>
            <button (click)="callEvents()" class="button-reset header__button">Обновить</button>
            <ng-multiselect-dropdown class="calendar__dropdown"
              #calendarDropdown
              [placeholder]="dropdownSelectText"
              [settings]="dropdownSettings"
              [data]="calendarsList"
              [(ngModel)]="selectedCalendars"
              (onSelect)="onDropdownSelect($event)"
              (onDeSelect)="onDropdownDeselect($event)"
            >
            </ng-multiselect-dropdown>
            <button (click)="logout()" class="button-reset header__button">Выйти</button>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="main__title flex">
                <button
                  mwlCalendarPreviousView
                  [(viewDate)]="viewDate"
                  [view]="view" class="button-reset main__button">
                </button>
                <h1 class="main__title-title">{{ viewDate | currentViewDate:view:locale }}</h1>
                <button
                  mwlCalendarNextView
                  [(viewDate)]="viewDate"
                  [view]="view" class="button-reset main__button">
                </button>
            </div>
            <div [ngSwitch]="view">
              <div class="schedule">
                <div *ngSwitchCase="'month'">
                  <mwl-calendar-month-view
                      [viewDate]="viewDate"
                      [events]="events"
                      [refresh]="updated"
                      [weekStartsOn]="weekStartsOn"
                      [locale]="locale">
                  </mwl-calendar-month-view>
              </div>
              <div *ngSwitchCase="'week'">
                  <mwl-calendar-week-view
                      [viewDate]="viewDate"
                      [events]="events"
                      [refresh]="updated"
                      [weekStartsOn]="weekStartsOn"
                      [dayStartHour]="dayStartHour"
                      [dayEndHour]="dayEndHour"
                      [tooltipTemplate]="tooltipTemplate"
                      [locale]="locale">
                  </mwl-calendar-week-view>
              </div>
              <div *ngSwitchCase="'day'">
                  <mwl-calendar-day-view
                      [viewDate]="viewDate"
                      [events]="events"
                      [refresh]="updated"
                      [dayStartHour]="dayStartHour"
                      [dayEndHour]="dayEndHour"
                      [locale]="locale">
                  </mwl-calendar-day-view>
              </div>
              </div>
            </div>
        </div>
    </main>
</body>
</html>

  <ng-template
  #tooltipTemplate
  let-contents="contents"
  let-placement="placement"
  let-event="event"
  let-organizerInfo=event.meta.organizer
>
  <div class="cal-tooltip" [ngClass]="'cal-tooltip-' + placement">
    <div class="cal-tooltip-arrow"></div>
    <div class="cal-tooltip-inner" [innerHtml]="'Кем занято: ' + organizerInfo"></div>
  </div>
</ng-template>